/* Chrome, Safari, Edge, Opera */
.code-input::-webkit-outer-spin-button,
.code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.code-input {
  -moz-appearance: textfield;
}
